# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.LongTermGame5.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Other\Unity\Projects\LongTermGame5\.idea\.idea.LongTermGame5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
